:root{
    --main-nav-color: rgb(128, 191, 255);
    --main-nav-hover: rgb(67, 161, 255);
    --gray-nav-color: rgb(230, 230, 230);
}



nav ul {
    /*list-style: none;*/
    padding: 0;
    margin-left: 10px;
      
    
  }

nav ul li {
    display: block;
    position: relative;
    width: 300px;
    background: var(--main-nav-color);
    border:1px solid #bbb;
  }


nav li ul { 
    display: none; 
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }

nav ul li a:hover { 
    background: var(--main-nav-hover); 
}



nav li:hover > ul {
    display: block;
    position: absolute;
    left: 97%;
    top: 0;
    
  }



.main-navigation li ul li { 
    border-top: 0; 
}


nav ul:after { 
    clear: both; 
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--gray-nav-color);
    }
}










