div.top {
    background-color: rgba(129, 207, 224, 255);
    display: inline-block;
    width: 1200px;
    position: fixed;
    border-radius: 15px;
    z-index: 900;
}

div.logo {
    color: hsla(201.3, 87.3%, 53.7%, 1);
    text-shadow: #22313f 2px 2px 1px;
    letter-spacing: 50px;
}

div.link {
    font-size: 110%;
    background-image: linear-gradient(orchid, yellow, dodgerblue);
    border-radius: 15px;
}

div.link:not(:nth-child(2n+1)) {
    background-image: radial-gradient(yellow, yellowgreen);
}

div.nav{
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

div.nav > div {
    padding: 30px;
    width: 8%;
    background-color: yellowgreen;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

div.nav > div:hover  {
    width: 15%;
    opacity: 1;
}

div.content {
    margin-top: 220px;
    background-color: #00b5cc;
    width: 1200px;
    display: inline-block;
    border-radius: 15px;

    color: #2c3e50;
    text-align: left;
    flex-direction: row;
}

.postcard {
    width: 500px;
    height: 300px;
    display: inline-block;
    text-align: center;

}

.postcard:hover {

}

#photo1 {
    position: relative;
    height: 281px;
    width: 450px;
    margin: 0 auto;
}

#photo1 img {
    position: absolute;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#photo1 img.piwo {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;

}

#photo1:hover img.piwo, #photo1.hover_effect img.piwo {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transform-origin: bottom right;
    -moz-transform: scale(1, 1);
    -moz-transform-origin: bottom right;
    -o-transform: scale(1, 1);
    -o-transform-origin: bottom right;
    transform: scale(1, 1);
    transform-origin: bottom right;
}

#photo1:hover img.kotki, #photo1.hover_effect img.kotki {
    -webkit-transform: scale(0, 0);
    -webkit-transform-origin: bottom left;
    -moz-transform: scale(0, 0);
    -moz-transform-origin: bottom left;
    -o-transform: scale(0, 0);
    -o-transform-origin: bottom left;
    transform: scale(0, 0);
    transform-origin: bottom left;
}

.photo2 {
    width: 450px;
    height: 278px;
    overflow: hidden;
}

.photo2 img {
    transition: all 1s ease-in-out;
}

.photo2:hover img {
    -webkit-transform: scale(1.3) rotate(-5deg);
    -ms-transform: scale(1.3) rotate(-5deg);
    transform: scale(1.3) rotate(-5deg);
}

.img img {
    transition: all 0.5s ease-out;
}

.img:hover img {
    -ms-transform: translate(800px); /* IE 9 */
    -webkit-transform: translate(800px); /* Safari */
    transform: translate(800px);
}

article {
    text-align: left;
    font-size: 1.2em;
    margin: 20px;
    padding: 20px;
    background: url("../ikon.png") no-repeat;
    background-size: 100px, 100px;
    background-origin: padding-box;

}

aside {

    border: 20px solid transparent;
    border-image: url("../image-border2.png");
    border-image-slice: 70;
    border-image-repeat: stretch;
    border-radius: 15px;
    align-content: flex-end;
    padding: 10px;

}

footer {
    background-color: #2c3e50;
    display: inline-block;
    width: 1200px;
    margin-top: 10px;
    color: #cccccc;
}

body {
    text-align: center;
    font-family: customFont, serif;
    background: #c5eff7 url("../just-waves.png") repeat top;
}

@font-face {
    font-family: customFont;
    src: url('../myFont.woff') format('woff');
    font-weight: bold;
}