.menu{
    color: sandybrown;

}

body {
    margin: 0;
    font-family: Verdana, serif;
    background-image: url("../../CSS1/images/background2.jpg");

    background-color: cornsilk;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center top;


    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    position: relative;
}

.center-div
{
    width: 900px;
    height: 2000px;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 200px;
}
.test{
    width: 50px;
    height: 50px;
}

.menu{
    /*position: static;*/
}

input:required {
    background-color: #f1a9a0;
}

input:disabled{
    border-color: black;
    background-color: black;
}

input:required:focus {
    border: 1px solid red;
    outline: none;
}


.floating1{
    float: right;
}
.floating2{
    float: left;
}
.floating3{
    float: right;
    clear: left;
}